body {
  background-color: #FFE;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  padding: 5px;
}

h5 {
  color: #887;
}

a {
  color: #900;
}

img {
  border: 5px solid black;
}




/*p {
  color: red;
}
li {
  color: tomato;
  background: goldenrod;
  font-weight: 900;
  font-style: italic;
  font-size: 18px;
  font-family: helvetica, times, sans-serif;
  text-align: center;
  list-style: none;
  text-decoration: none;
}*/

/*Cookie Recipe CSS
=================

- The background color for the page is #FFE
- The color for the text reading "Nutrition Information" is #887
- The link color is #900

Bonus: The border on the page and around the image is black*/