.wrapper {
	background: grey;
	width: 900px;
	/*height: 400px;*/
	padding: 20px;
	text-align: center;
}


.section1 {
	color: white;
	background: black;
	padding: .5px;
}

.section2 {
	color: purple;
	background: salmon;
	padding: .5px;
	margin-top: 10px;
}

.section3 {
	color: green;
	background: salmon;
	padding: .5px;
	margin-top: 10px;
}

.section4 {
	color: yellow;
	background: salmon;
	padding: .5px;
	margin-top: 10px;
}
